<div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg shadow-lg text-gray-800">

  <h1 class="text-center text-3xl font-bold">Crear paciente</h1>

  <form action="" method="POST" class="mt-4">

    <label for="exampleInputEmail1" class="form-label">Nombres</label>
    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
      p-2 my-2 focus:bg-white" placeholder="nombre" name="nombres">
      
    <label for="exampleInputEmail1" class="form-label">Apellidos</label>
    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
      p-2 my-2 focus:bg-white" placeholder="apellido" name="apellidos">

    <label for="exampleInputEmail1" class="form-label">Sexo</label>
    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
      p-2 my-2 focus:bg-white" placeholder="sexo" name="sexo">

    
    <label for="exampleInputEmail1" class="form-label">Especialidad</label>
    <select name="especialidad" id="lang">
                  <option value="mgeneral">Medicina general</option>
                  <option value="ginecologia">Ginecologia</option>
                  <option value="obstetricia">Obstetricia</option>
                  <option value="pediatria">Pediatria</option>
                  <option value="cardiologia">Cardiologia</option>
                  <option value="traumatologia">Traumatologia</option>
                  <option value="oftamologia">Oftamologia</option>
                  <option value="neumologia">Neumologia</option>
    </select><br>

    

    <button type="submit" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3
      hover:bg-green-600 focus:bg-green-700">Enviar</button>

  </form>

</div>